{% extends 'todo/base.html' %}

{% block content %}
    <h1 style="text-align: center;color :rgb(255, 0, 170);">FAMILY</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Todo Name -->
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label" style="color :rgb(164, 39, 236);">Add family members</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Todo Button -->
        <div class="form-group"style="margin-left:500px;">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default" >
                    <i class="fa fa-plus"></i> ADD
                </button>
            </div>
        </div>

    </form>
    

    <!-- Current Todos -->
    <h2 style="text-align: center;color :rgb(255, 0, 170);">Member's name</h2>
    <table class="table table-striped todo-table">
        <thead>
            <th style="color :rgb(169, 56, 192);">Member</th><th>&nbsp;</th>
        </thead>

        <tbody>
            {% for post in posts %}
                <tr>
                    <!-- Todo Name -->
                    <td>
                        <div>{{ post.body }}</div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3 style="text-align: center;color :rgb(25, 29, 238);">นางสาวสุดาทิพย์ ทวีสุข รหัสนักศึกษา 5910110354</h2>
    
{% endblock %}